<p style="color: green"><%= notice %></p>

<%= render @g_instituicao %>

<div>
  <%= link_to "Edit this g instituicao", edit_g_instituicao_path(@g_instituicao) %> |
  <%= link_to "Back to g instituicaos", g_instituicoes_path %>

  <%= button_to "Destroy this g instituicao", @g_instituicao, method: :delete %>
</div>
